  /* ASCTL */
    /* Top nav */

#top-nav{
    height: 6em;
    padding: 0px 20px;
    position: fixed;
    background: rgba(159, 9, 9, 0.9);
    margin: auto; 
    z-index: 999; 
       
}

.top ul .navitem{ 
    margin-top: 0.9em;
    font-size: 1em;
}

.top ul li a{
    font-size: 1.2em;
    color: white;   
}

.top ul li a:hover{
    color:black;
    background-color: rgba(0, 0, 0, 0) !important;
}

.top ul li a.active {
    color: black;
}

.top ul li:hover  {
    background-color: rgba(0, 0, 0, 0) !important;  
} 



  /* Carousel */

  .carousel{
    height:25vw!important;
}

    .carousel img{
        height:25vw;
    }


.centered {
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-size: 3vw;
    color: #9f0909;
    text-align: center;

    opacity:0;
    -moz-animation: anim 3s linear forwards 0.5s;
    -webkit-animation: anim 3s linear forwards 0.5s;
    -o-animation: anim 3s linear forwards 0.5s;
    -ms-animation: anim 3s linear forwards 0.5s;
    animation: anim 3s linear forwards 0.5s;
}

@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
  

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */



#description{
    margin-top:5vw;
    margin-bottom:5vw;

    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #9f0909;
    text-align: center;
}
.circle{
    position: relative;
    display: block;
    margin-top: -6vw;
    margin-left: auto;
    margin-right: auto;
    background:#9f0909;
    border-radius:50%;
    width:12vw;
    height:12vw;
}

.red-bg{
    background-color: #9f0909;
}


/* Guest */

#guest h2{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    font-size: 3vw;
}

#guest p{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;


}

.img-guest{
    margin-top: 1.5vw;
    margin-right: 1.5vw;
    height: 13vw;
    width: 13vw;
}

.img-guest:hover{
    transform: scale(1.06);
    transition-duration: 0.5s;
}
.description{
    margin-right:auto;
    margin-top:2vw;
    margin-bottom:2vw;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #9f0909;
    text-align: right;
}

#guest-list{
    margin-top:4vw;
    margin-bottom:7vw
}







@media screen and (max-width: 600px){
 #description{
    font-size: 10px;
 }

 .centered{
     font-size: 4.5vw;
 }

 #guest h2{
    font-size: 5vw;
}

#guest p{
    font-size: 4vw;


}

.img-guest{
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    height: 16vw;
    width: 16vw;
}
.description{
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    font-size: 10px;
}

#guest-list{
    margin-top:-2vw;
    margin-bottom: 8vw
}
}



@media screen and (max-width: 1000px) and (min-width :600px){

}

@media screen and (min-width: 1024px){
    
  .carousel{
    height:20vw!important;
}

.carousel img{
    height:20vw;
}

.centered {
    font-size: 2vw;
}

.circle{
    margin-top:-4.5vw;
    width:9vw;
    height:9vw;
}

#guest h2{
    font-size: 2.2vw;
}

#guest p{
    font-size: 1.2vw;


}

}




