  /* ASCTL */
    /* Top nav */
#logo-navbar{
    margin-top: 0.5vw;
    height: 3.5vw;
    border-radius: 100%
}

#top-nav{
    height: 6em;
    padding: 0px 20px;
    position: fixed;
    background: rgba(159, 9, 9, 0.9);
    margin: auto; 
    z-index: 999; 
       
}

.top ul .navitem{ 
    margin-top: 0.9em;
    font-size: 1em;
}

.top ul li a{
    font-size: 1.2em;
    color: white;   
}

.top ul li a:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}
.top ul li a:active{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0) !important;
}

li{
    display:inline-block;
    min-width:50px;
}
.underline a {
    text-decoration:none;
}
.underline a:after {
    content: '';
    display: block;
    margin: auto;
    margin-top: -0.8em;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.underline a:hover:after {
    width: 100%;
    background: rgb(255, 255, 255);
}

/* .top ul li:hover  {
    background-color: rgba(0, 0, 0, 0) !important;  
}  */

/* Footer */

#footer {
    padding-top: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    background-color: #9f0909;
    animation-duration: 0.1s;
}

#footer p{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.footer-pic{
    margin-top: 20px;
    max-height: 5vw;
    background-color: white;
    border-radius: 50px;
}


/* ______________________________StartSeite_______________________________________ */


.centered {
    top: 5vw!important;
    font-family: 'Rubik', sans-serif!important;
    font-size: 2.3vw!important;
    color: #9f0909!important;
    margin: 0;
    opacity:1;
    animation-duration: 1.3s;
}

.centered br{

}



/* Red Circle */

.circle{
    position: relative;
    display: block;
    margin-top: -6vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #9f0909;
    background-image: url("../image/event_logo.jpg");
    border-radius:50%;
    border : 0.2vw solid #9f0909;
    width:10vw;
    height:10vw;
    animation-duration: 1.2s;

}


/* _____Intro_____ */

#intro h2{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8vw;
}

#descrip{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #9f0909;
    text-align: center;
    animation-duration: 1.4s;
}

#descrip p{
    margin-top: 1vw;
    text-align: justify;
}

#descrip img{
    width: 60%
}

#intro-text{
    margin-top: 2vw;
}

/* Button Kaufen */


#kaufen-button{
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: #9f0909;
    width: 100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw; 
    font-size: 1.2vw;
    text-align: center;
}

#kaufen-button a {
    color: white
}


/* Guest section */


#guest {
    background-color: #9f0909;
}

#guest h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}

#guest p{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}

#guest a{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1vw;

}

#guest i{
    color: white;

}

.guest-name{
    margin-top: 1.5vw;
    margin-bottom :1.5vw;
    font-family: 'Rubik', sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    /* color: transparent;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8); */
    transition: all 0.5s;
}

.img-guest-container{
    margin: auto;
    margin-top: 1vw;
    overflow: hidden;
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
}


.img-guest{
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
}

.img-guest:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.7s;
}



/* Programm */


#programm{
    margin-top: 1.5vw;
}

#programm p{
    color: #9f0909;
}

#programm h2{
    color: #9f0909;
    font-size: 2vw;
}


#programm a{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;

}

#programm i{
    color: #9f0909;

}

#kaufen-button a {
    color: white
}



.programm-pic{
    margin-top: 0.5vw;
    /* margin-left: 15%; */
    width: 100%;
    height: 100%;
    /* margin-left: 10%; */
    padding: auto;
}


#see-more-btn{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #9f0909;
    /* border-radius: 30px; */
}

#see-more-btn:focus{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /* border-radius: 30px; */
}

#see-more-btn:hover{
    box-shadow: 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    /* border-radius: 30px; */
}

/* ------------------Ort--------------- */

#ort{
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #9f0909;
}

#ort h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}

#ort p{
    color: white;
    font-family: 'Rubik', sans-serif;
    
}

#ort a{
    color: white;
    font-family: 'Rubik', sans-serif;
    
}

#ort i{
    color: white;
    
}

.ort-pic{
    margin-top: 2vw;
    margin-bottom: 2vw;

    max-width: 100%;
}

#basel{
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#basel h2{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}

#basel p{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    
}

#basel a{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    
}

#basel i{
    color: #9f0909;
    
}







/* _____________________________ Senseï ______________________________________ */

#title-guest {
    padding-top: 5vw;
    padding-bottom: 1vw;
    background-color: #9f0909;
    animation-duration: 0.1s;
}

#title-guest h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5vw;
}


.item-detail{
    margin-top: 5vw;
    margin-left: 1.5vw;
    overflow: hidden;
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    opacity: 0;
}

.item-info{
    margin-top: 5vw;
    margin-left: 1.5vw;
    overflow: hidden;
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
}

.text {
    opacity: 0;
}

.media {
    opacity: 0;
}








/* _______________________Ticket shop_____________________________ */


#ticket-shop {

}

#ticket-shop p{
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
}

#ticket-shop h2{
    color: #9f0909
}

#ticket-shop p{
    color: #9f0909
}

#ticket-list hr{
    border-bottom: 1px solid #9f0909;
    color: #9f0909;
    box-shadow: none!important;
}

#ticket-list h3{
    color: #9f0909;
    font-family: 'Rubik', sans-serif;
    font-size: 1vw;
}


#ticket-list  span{
    color: black
}

#ticket-list input.select-dropdown{
    padding-top: 5px;

}

#ticket-list .btn{
    background-color: #9f0909
}

#ticket-list ul{
    max-height: 300px;
}

#ticket-list p{
   color: #9f0909
}

#ticket-list a{
    color: #9f0909;
    text-decoration: underline
 }

 #ticket-list h2{
    color: #9f0909;
    font-size: 1.5vw 

}

#jetz-kaufen > h3:nth-child(1){
    margin-top: -1px;
    margin-left: 25px;

    font-size: 20px!important;
}

.bold-info{
    font-size: 18px;
    font-weight: bold;
    margin: 1px!important;

}

.no-space{
    margin: 0!important;
}





#lang-flag{
    margin-top:0.9em;
    width: 2vw;
    height: 1.5vw;
}

.lang-flag{
    width: 2vw;
    height: 1.5vw;
    margin: auto;
    padding: auto;
}

.lang-item{
    background-color: #a83d3d;
}

.lang-item:hover{
    background-color: #9f0909!important;
}


  /* Carousel */

  .carousel{
    height:25vw!important;
    margin: 0;
}

    .carousel img{
        height:25vw;
    }










.red-bg{
    background-color: #9f0909;
}


/* Guest */









.descrip{
    font-family: 'Rubik', sans-serif;
    font-size: 0.9vw!important;
    color: #9f0909;
    text-align: right;
    height: 2vw;
    margin: 0.1vw;
    }
  
  

#guest-list{
    padding-top:2.6vw;
    padding-bottom:2.3vw;
    margin:0;
}





#guest-index{

    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #9f0909
}

#guest-index .read-btn{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: white;
    /* border-radius: 30px; */
}

#guest-index .read-btn:focus{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /* border-radius: 30px; */
}

#guest-index .read-btn:hover{
    box-shadow: 0 rgba(0, 0, 0, 0);
    background-color: #9f0909;
    /* border-radius: 30px; */
}



#guest-index hr{
    border: 1px solid white;
}

#guest-index a {

    color: white;
}

#guest-index-white{

    padding-top: 2vw;
    padding-bottom: 2vw;

    background-color: white;
}
#guest-index-white .read-btn{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #9f0909;
    /* border-radius: 30px; */
}

#guest-index-white .read-btn:focus{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /* border-radius: 30px; */
}

#guest-index-white .read-btn:hover{
    box-shadow: 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    /* border-radius: 30px; */
}
#guest-index-white hr{
    border: 1px solid #9f0909;
}

#guest-index-white .guest-description p{
    color: #9f0909!important;
}

#guest-index-white .guest-description li{
    color: #9f0909!important;
}

#guest-index-white .guest-description h2{
    color: #9f0909!important;
}

#guest-index-white a{
    color: #9f0909;
}

.guest-description p{
    font-family: 'Rubik', sans-serif;
    font-size: 15px!important;
    color: white!important;
}

.guest-description li{
    font-family: 'Rubik', sans-serif;
    font-size: 15px!important;
    color: white!important;
}

.guest-description ul li{
    list-style-type: disc;
    display: list-item!important;
}

.guest-description ol li{
    display: list-item!important;
}

.l9 > h2:nth-child(1){
    font-family: 'Rubik', sans-serif;
    font-size: 40px!important;
    color: white;
}




.guest-description h2{
    font-family: 'Rubik', sans-serif;
    font-size: 25px!important;
    color: white;
}
#guest-index a.btn{
    background-color: #a83d3d!important;
}




.img-guest-detail{
    height: 15vw;
    width: 15vw;
    border-radius: 100%;


}





/* event list */

#event-list{
    margin-top:3vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;

}

#event-list form{
    padding-top: 1.5vw;
}


/* Training list */
#training-title{
    animation-duration: 1.5s;
    opacity: 0;
}


#training{
padding-top: 3vw;
padding-bottom : 5vw; 

}
#training h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}

#training p{
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size: 1vw;


}
#training-list{
    margin-top:3vw;
    margin-left:3vw;
    background-color: #a83d3d;
    height: 6vw;
    width: 17vw;
}

#training-list:hover{
    
    /* border-radius: 30px; */
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.06);
    transition-duration: 0.4s;

    
}

#training-list:hover .img-training{
    
    /* border-radius: 30px 30px 30px 30px; */
    transition-duration: 0.4s;

    
}


#training-list #list{
    margin-top: 1.5vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.img-training{
    margin-right:0;
    height: 6vw;
    width: 6vw;
}




/* Button */

/* .guest-name{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    color:black;
    box-shadow: none;
}

.guest-name:hover{
    background-color: rgba(0, 0, 0, 0);
    color:black;
    box-shadow: none;
    cursor: default!important;
} */

#submit{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /* border-radius: 30px; */
}

#submit:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    background-color: #a83d3d;
    /* border-radius: 30px; */
}

.act{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)!important;
    background-color: #a83d3d!important;
    /* border-radius: 30px!important; */
}






.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




/* Programm */



#plan{
    margin-top: 2.5vw;
    padding-bottom: 1.5vw;
    background-color: #9f0909
}

#plan h2{
    color: white;
    font-size: 2vw;
}

#plan p{
    color: white
}

#plan a{
    color: white
}

.plan-pic{
    width: 100%;
    height: 15vw;
}



/* Register */

#register{
    margin-top : 2vw;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #9f0909 !important;
  }
  
  .input-field textarea:focus + label {
      color: #9f0909 !important;
  }
  
  .input-field input[type=email]:focus + label {
      color: #9f0909 !important;
  }
  
  .input-field input[type=password]:focus + label {
    color: #9f0909 !important;
  }
  
  .input-field input[type=date]:focus + label {
      color: #9f0909 !important;
  }
  
  .input-field input[type=number]:focus + label {
      color: #9f0909 !important;
  }
  
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #9f0909 !important;
    box-shadow: 0 1px 0 0 #9f0909 !important;
  }
  
  .input-field textarea:focus {
      border-bottom: 1px solid #9f0909 !important;
      box-shadow: 0 1px 0 0 #9f0909 !important;
  }

  .input-field input[type=email]:focus {
      border-bottom: 1px solid #9f0909 !important;
      box-shadow: 0 1px 0 0 #9f0909 !important;
  }
  
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #9f0909 !important;
    box-shadow: 0 1px 0 0 #9f0909 !important;
  }
  
  .input-field input[type=date]:focus {
    border-bottom: 1px solid #9f0909 !important;
    box-shadow: 0 1px 0 0 #9f0909 !important;
  }
  
  .input-field input[type=number]:focus {
      border-bottom: 1px solid #9f0909 !important;
      box-shadow: 0 1px 0 0 #9f0909 !important;
  }

  
  
  /* icon prefix focus color */
    .input-field .prefix.active {
      color: #9f0909;
  }

  #register button{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #9f0909;
  }



  .input-field input[type=text].valid {
    border-bottom: 1px solid #1a8a04 !important;
    box-shadow: 0 1px 0 0 #1a8a04 !important;
  }
  
  .input-field textarea.valid {
      border-bottom: 1px solid #1a8a04 !important;
      box-shadow: 0 1px 0 0 #1a8a04 !important;
  }

  .input-field input[type=email].valid {
      border-bottom: 1px solid #1a8a04 !important;
      box-shadow: 0 1px 0 0 #1a8a04 !important;
  }
  
  .input-field input[type=password].valid {
    border-bottom: 1px solid #1a8a04 !important;
    box-shadow: 0 1px 0 0 #1a8a04 !important;
  }
  
  .input-field input[type=date].valid {
    border-bottom: 1px solid #1a8a04 !important;
    box-shadow: 0 1px 0 0 #1a8a04 !important;
  }
  
  .input-field input[type=number].valid {
      border-bottom: 1px solid #1a8a04 !important;
      box-shadow: 0 1px 0 0 #1a8a04 !important;
  }
  





#login {
    padding-top: 2vw;
    padding-bottom: 8vw;
}

  #login button{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #9f0909;
  }








@media screen and (max-width: 600px){
 #descrip{
    font-size: 12px;
 }

 #title{
     font-size: 5vw!important;
     margin-top:5vw;
 }

 #guest h2{
    font-size: 5vw;
}

#guest p{
    font-size: 4vw;


}

.img-guest{
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    height: 16vw;
    width: 16vw;
}
.descrip{
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    font-size: 10px;
}

#event-list{
    margin-top:-5vw;

}
#training-list{
    margin-top:0vw;
    margin-bottom:5vw;
    margin-left:5vw;
    margin-right:3vw;
    height: 22vw;
    width: 50vw;
}

#training-list #list{
    margin-top: 1vw;
    font-size: 12px;
}

.img-training{
    margin-right:0;
    height: 22vw;
    width: 22vw;
}


#training h2{
    font-size: 6vw;
}

#training p{
    font-size: 3.5vw;
}

#training .input-field{
    margin: 0!important;
    padding: 0!important;
}

#training .btn{
    font-size: 11px;;
}

#training-title{
    opacity: 1;
}

#trainingform{
    margin-bottom: 5vw; 
}





.img-guest{
    
    height: 35vw;
    width: 35vw;


}
.descrip{
    font-family: 'Rubik', sans-serif;
    color: #9f0909;
    text-align: right;
    height: 2vw;
    margin: 0.1vw;
    }


#top-nav{
    height: 15vw; 
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none!important;
}
.carousel{
    height:35vw!important;
    margin: 0!important;
}

    .carousel img{
        height:35vw;
    }

.top ul .navitem{ 
    margin-top: 0;
    font-size: 1.5em;
}

.top ul i{ 
    color: #aa5252
}


.lang-flag{
    margin-bottom:0.5em;
    width: 3vw;
    height: 2vw;
}


}



@media screen and (max-width: 1000px) and (min-width :600px){
    #top-nav{
        height: 15vw; 
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none!important;
    }
    .carousel{
        height:25vw!important;
    }
    
        .carousel img{
            height:25vw;
        }
    
    .top ul .navitem{ 
        margin-top: 0;
        font-size: 1.5em;
    }
    
    .top ul i{ 
        padding-left: 25px!important;
    
        color: #aa5252
    }

    
    #descrip{
        font-size: 15px;
     }
    
     #title{
         font-size: 3.5vw!important;
     }
    
     #guest h2{
        font-size: 3vw;
    }
    
    #guest p{
        font-size: 2.3vw;
    
    
    }

    
    
    #event-list{
        margin-top:-2vw;
    
    }

    #training-list{
        margin-top:0vw;
        margin-bottom:5vw;
        margin-left:5vw;
        margin-right:3vw;
        height: 15vw;
        width: 45vw;
    }
    
    #training-list #list{
        margin-top: 2vw;
        font-size: 15px;
    }
    
    .img-training{
        height: 15vw;
        width: 15vw;
    }
    
    
    #training h2{
        font-size: 3vw;
    }
    
    #training p{
        font-size: 2.3vw;
    }
    
    
    
    #training .btn{
        font-size: 13px;;
    }
    
    #training-title{
        opacity: 1;
    }
    
    #trainingform{
        margin-bottom: 3vw; 
    }
    
    
    
    
    
    .item{
        margin-top: 2.5vw;
        height: 18vw;
        width: 18vw;
    
    }
    
    .img-guest{
        
        height: 18vw;
        width: 18vw;
    
    
    }
    .descrip{
        font-family: 'Rubik', sans-serif;
        color: #9f0909;
        text-align: right;
        font-size:13px!important;
        height: 3vw;
        margin: 0.1vw;
    }

    #guest-list{
        padding-top:5.45vw;
        padding-bottom:5.45vw;
        margin:0;
    }
    
}

@media screen and (min-width: 1024px){
    
  .carousel{
    height:20vw!important;
}

.carousel img{
    height:20vw;
}

.centered {
    font-size: 2vw;
}

.circle{
    margin-top:-4.5vw;
    width:9vw;
    height:9vw;
}

#guest h2{
    font-size: 2.2vw;
}

#guest p{
    font-size: 1.2vw;


}



}




